<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head',{title: 'Crear'}) %>
<body class="crear-editar">
  <%- include('../partials/header') %>
    <main>
        <div class="adminTop">
            <h1>Agregar Producto</h1>
            <div class="btncrear">
                <a href="/admin/listar">
                    <button type="button" class="btn crear"><i class="fas fa-arrow-circle-left"></i></button>
                </a>
            </div>
        </div>
        <form action="/admin/crear" method="post" enctype="multipart/form-data"><!--ENCTYPE FUNDAMENTAL PARA SUBIR IMG CON MULTER-->
            <section class="agregar">
        <!--TITULO-->
                <div class="form-floating">
                    <input type="text" name="Titulo" class="form-control" id="Titulo" value="<%=locals.old && old.titulo ?old.nombre: null %>" placeholder="Titulo">
                    <label for="Titulo">Titulo</label>
                    <% if (locals.errors && errors.titulo) { %>
                        <small><%= errors.titulo.msg %> </small>
                    <% } %>
                </div>
    <!--TIPO DE PRODUCTO-->
                <div class="form-floating">
                    <select class="form-select" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                        <% if (locals.errors && old.categoria) { %>
                            <option hidden value="">Categoria de Producto</option>
                            <option <%= old.categoria === "1" ? "selected" : null %> value="Cotillon">Cotillón</option>
                            <option <%= old.categoria === "2" ? "selected" : null %> value="Coleccionables">Coleccionables</option>
                            <option <%= old.categoria === "3" ? "selected" : null %> value="Hombre">Hombre</option>
                            <option <%= old.categoria === "4" ? "selected" : null %> value="Mujer">Mujer</option>
                            <option <%= old.categoria === "5" ? "selected" : null %> value="Infantil">Infantil</option>                         
                        <% } else { %>
                            <option selected hidden value="">Seleccione la categoria</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                            <% }) %>
                        <% } %> 
                    </select>
                    <label for="floatingSelect">Categoria de Producto</label>
                    <% if (locals.errors && errors.categoria) { %>
                        <small><%= errors.categoria.msg %> </small>
                    <% } %>
                </div>
    <!--SUBCATEGORIAsS PARA INDUMENTARIA-->
            <%# if () { %>
                <div class="form-floating">
                    <select class="form-select" name="subCategoria" id="floatingSelect" aria-label="Floating label select example">
                        <% if (locals.errors && old.subCategoria) { %>
                            <option hidden value="">Selecciona una opcion</option>
                            <% subCategoria.forEach(subCategoria => { %>
                                <% if (subCategoria.id == old.subCategoria) { %>
                                    <option value="<%= subCategoria.id %>" selected><%= subCategoria.nombre %></option>
                                <% }else{ %>
                                    <option value="<%= subCategoria.id %>"><%= subCategoria.nombre %></option>
                                <% } %>
                                <option value="<%= subCategoria.id %>"><%= subCategoria.nombre %></option>
                            <% }) %>
                        <% }else{ %>
                            <option selected hidden value="">Selecciona una opcion</option>
                            <% subCategoria.forEach(subCategoria => { %>
                                <option value="<%= subCategoria.id %>"><%= subCategoria.nombre %></option>
                            <% }) %>
                        <% } %> 
                    </select>
                    <% if (locals.errors && errors.subCategoria) { %>
                        <p class="span text-danger"><%= errors.subCategoria.msg %></p>
                    <% } %>
                    </select>
                    <label for="floatingSelect">Tipo de Producto</label>
                    <% if (locals.errors && errors.subCategoria) { %>
                        <small><%= errors.subCategoria.msg %> </small>
                        <% } %>
                </div>
            <%# } %>
        <!--PRECIO-->
                <div class="form-floating">
                    <input type="number" name="Precio" class="form-control" id="Precio" value="<%=locals.old && old.precio ?old.nombre: null%>" placeholder="Precio">
                    <label for="Precio">Precio</label>
                    <% if (locals.errors && errors.precio) { %>
                        <small><%= errors.precio.msg %> </small>
                    <% } %>
                </div>
        <!--DESCUENTO-->
                <div class="form-floating">
                    <input type="number" name="Descuento" class="form-control" id="Descuento" value="<%=locals.old && old.descuento ? old.nombre: null%>" placeholder="Descuento">
                    <label for="Descuento">Descuento</label>
                    <% if (locals.errors && errors.descuento) { %>
                        <small><%= errors.descuento.msg %> </small>
                    <% } %>
                </div>
<!--STOCK GRAL PARA COTILLON, COLECCIONABLES Y ACCESORIOS-->
                <div class="form-floating">
                    <input type="number" name="Stock" class="form-control" id="Stock" value="<%=locals.old && old.stock ?old.nombre: null %>" placeholder="Stock">
                    <label for="Stock">Stock</label>
                    <% if (locals.errors && errors.stock) { %>
                        <small><%= errors.stock.msg %> </small>
                    <% } %>
                </div>
<!--EN PROCESO DE PRUEBA EN OTRA RAMA CHECK DE TALLES DE CAMISETAS, PANTALONES Y STOCK-->
                <!-- <div class="contenedor-checks">
                    <div class="form-check">
                        <input class="form-check-input" name="variable" type="checkbox" value="XS" id="T-XS">
                        <label class="form-check-label" for="product-t-xs"> XS </label>
                        <input type="number" name="cantidad" class="form-control" id="cantidad" value="<%#=locals.old && old.stock ?old.nombre: null %>" placeholder="Stock">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="variable" type="checkbox" value="S" id="T-S">
                        <label class="form-check-label" for="product-t-s"> S </label>
                        <input type="number" name="StockS" class="form-control" id="cantidad" value="<%#=locals.old && old.stock ?old.nombre: null %>" placeholder="Stock">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="variable" type="checkbox" value="M" id="T-M">
                        <label class="form-check-label" for="product-t-m"> M </label>
                        <input type="number" name="StockM" class="form-control" id="cantidad" value="<%#=locals.old && old.stock ?old.nombre: null %>" placeholder="Stock">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="variable" type="checkbox" value="L" id="T-L">
                        <label class="form-check-label" for="product-t-l"> L </label>
                        <input type="number" name="StockL" class="form-control" id="StockL" value="<%#=locals.old && old.stock ?old.nombre: null %>" placeholder="Stock">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="variable" type="checkbox" value="XL" id="T-XL">
                        <label class="form-check-label" for="product-t-xl"> XL </label>
                        <input type="number" name="StockXL" class="form-control" id="StockXL" value="<%#=locals.old && old.stock ?old.nombre: null %>" placeholder="Stock">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="variable" type="checkbox" value="XXL" id="T-XXL">
                        <label class="form-check-label" for="product-t-xxl"> XXL </label>
                        <input type="number" name="StockXXL" class="form-control" id="StockXXL" value="<%#=locals.old && old.stock ?old.nombre: null %>" placeholder="Stock">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="variable" type="checkbox" value="XXXL" id="T-XXXL">
                        <label class="form-check-label" for="product-t-xxxl"> XXXL </label>
                        <input type="number" name="StockXXXL" class="form-control" id="StockXXXL" value="<%#=locals.old && old.stock ?old.nombre: null %>" placeholder="Stock">
                    </div>
                </div> -->
    <!--DESCRIPCION-->
                <div class="form-floating">
                    <input type="text" class="form-control" id="description" placeholder="Descripción" name="Descripcion" >
                    <label for="floatingTextarea">Descripcion</label>
                    <% if (locals.errors && errors.descripcion) { %>
                        <small><%= errors.descripcion.msg %> </small>
                    <% } %>
                </div>
        <!--SUBIDA DE IMAGENES-->
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Subir imagenes del producto</label>
                    <input class="form-control form-control-sm" type="file" name="imagen" id="formFileSm" accept="image/png" value="<%= locals.old && old.imagen ? old.nombre: null %>" >
                    <% if (locals.errors && errors.imagen) { %>
                        <small><%= errors.imagen.msg %> </small>
                    <% } %>
                </div>
                
                <div class="button d-flex justify-content-center">
                    <button class="btn" type="submit">Crear Producto</button>
                </div>
                
            </section>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>