<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head',{title: 'Editar'}) %>
<body class="crear-editar">
  <%- include('../partials/header') %>
    <main>
        <div class="adminTop">
            <h1>Editar Producto</h1>
            <div class="btncrear">
                <a href="/admin/listar">
                    <button type="button" class="btn crear"><i class="fas fa-arrow-circle-left"></i></button>
                </a>
            </div>
        </div>
        <form action="/admin/editar/<%= producto.id %>?_method=PUT" method="post" enctype="multipart/form-data"> <!--ENCTYPE FUNDAMENTAL PARA SUBIR IMG CON MULTER-->
            <section class="agregar">
                <div class="form-floating">
                    <input type="text" name="Titulo" class="form-control" id="Titulo" value="<%=locals.old && old.titulo ?old.nombre: null %><%= producto.titulo %>" placeholder="Titulo">
                    <label for="Titulo">Editar nombre</label>
                    <% if (locals.errors && errors.titulo) { %>
                        <small><%= errors.titulo.msg %> </small>
                    <% } %>
                </div>
    <!--TIPO DE PRODUCTO-->
                <div class="form-floating">
                    <select class="form-select" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.id %>" <%= producto.categoriaId === categoria.id ? 'selected' : null %> ><%= categoria.nombre %></option>
                        <% }) %>
                    </select>
                    
                    <label for="floatingSelect">Categoria de Producto</label>
                    <% if (locals.errors && errors.categoria) { %>
                        <small><%= errors.categoria.msg %> </small>
                    <% } %>
                </div>
    <!--SUBCATEGORIAS PARA INDUMENTARIA-->
                <div class="form-floating">
                    <select class="form-select" name="subCategoria" id="floatingSelect" aria-label="Floating label select example">
                        <% subcategoria.forEach(subcategoria => { %>
                            <option value="<%= subcategoria.id %>" <%= producto.subcategoriaId === subcategoria.id ? 'selected' : null %> ><%= subcategoria.nombre %></option>
                        <% }) %>
                    </select>
                    
                    <label for="floatingSelect">Tipo de Producto</label>
                    <% if (locals.errors && errors.subcategoria) { %>
                        <small><%= errors.subcategoria.msg %> </small>
                    <% } %>
                </div>
        <!--PRECIO-->
                <div class="form-floating">
                    <input type="number" name="Precio" class="form-control" id="Precio" value="<%=locals.old && old.precio ?old.nombre: null%><%=producto.precio%>" placeholder="Precio">
                    <label for="Precio">Precio</label>
                    <% if (locals.errors && errors.precio) { %>
                        <small><%= errors.precio.msg %> </small>
                    <% } %>
                </div>
        <!--DESCUENTO-->
                <div class="form-floating">
                    <input type="number" name="Descuento" class="form-control" id="Descuento" value="<%=locals.old && old.descuento ? old.nombre: null%><%=producto.descuento%>" placeholder="Descuento">
                    <label for="Descuento">Descuento</label>
                    <% if (locals.errors && errors.descuento) { %>
                        <small><%= errors.descuento.msg %> </small>
                    <% } %>
                </div>
<!--STOCK GRAL PARA COTILLON, COLECCIONABLES Y ACCESORIOS-->
                <div class="form-floating">
                    <input type="number" name="Stock" class="form-control" id="Stock" value="<%=locals.old && old.stock ?old.nombre: null %><%=producto.stock%>" placeholder="Stock">
                    <label for="Stock">Stock</label>
                    <% if (locals.errors && errors.stock) { %>
                        <small><%= errors.stock.msg %> </small>
                    <% } %>
                </div>
<!--EN PROCESO DE PRUEBA EN OTRA RAMA CHECK DE TALLES DE CAMISETAS, PANTALONES Y STOCK-->
                <!-- <div class="contenedor-checks">
                    <div class="form-check">
                        <input class="form-check-input" name="talles" type="checkbox" value="XS" id="T-XS">
                        <label class="form-check-label" for="product-t-xs"> XS </label>
                        <input type="number" name="Stock" class="form-control" id="Stock" value="<%#=locals.old && old.stock ?old.nombre: null %><%#=producto.stock%>" placeholder="Stock">
                        ## if (locals.errors && errors.stock) { %>
                        <small>##= errors.stock.msg %> </small>
                    <%# } %>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="talles" type="checkbox" value="S" id="T-S">
                        <label class="form-check-label" for="product-t-s"> S </label>
                        <input type="number" name="Stock" class="form-control" id="Stock" value="<%#=locals.old && old.stock ?old.nombre: null %><%#=producto.stock%>" placeholder="Stock">
                        <%# if (locals.errors && errors.stock) { %>
                        <small><%#= errors.stock.msg %> </small>
                    <%# } %>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="talles" type="checkbox" value="M" id="T-M">
                        <label class="form-check-label" for="product-t-m"> M </label>
                        <input type="number" name="Stock" class="form-control" id="Stock" value="<%#=locals.old && old.stock ?old.nombre: null %><%#=producto.stock%>" placeholder="Stock">
                        <%# if (locals.errors && errors.stock) { %>
                        <small><%#= errors.stock.msg %> </small>
                    <%# } %>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="talles" type="checkbox" value="L" id="T-L">
                        <label class="form-check-label" for="product-t-l"> L </label>
                        <input type="number" name="Stock" class="form-control" id="Stock" value="<%#=locals.old && old.stock ?old.nombre: null %><%#=producto.stock%>" placeholder="Stock">
                        <%# if (locals.errors && errors.stock) { %>
                        <small><%#= errors.stock.msg %> </small>
                    <%# } %>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="talles" type="checkbox" value="XL" id="T-XL">
                        <label class="form-check-label" for="product-t-xl"> XL </label>
                        <input type="number" name="Stock" class="form-control" id="Stock" value="<%#=locals.old && old.stock ?old.nombre: null %><%#=producto.stock%>" placeholder="Stock">
                        <%# if (locals.errors && errors.stock) { %>
                        <small><%#= errors.stock.msg %> </small>
                    <%# } %>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="talles" type="checkbox" value="XXL" id="T-XXL">
                        <label class="form-check-label" for="product-t-xxl"> XXL </label>
                        <input type="number" name="Stock" class="form-control" id="Stock" value="<%#=locals.old && old.stock ?old.nombre: null %><%#=producto.stock%>" placeholder="Stock">
                        <%# if (locals.errors && errors.stock) { %>
                        <small><%#= errors.stock.msg %> </small>
                    <%# } %>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="talles" type="checkbox" value="XXXL" id="T-XXXL">
                        <label class="form-check-label" for="product-t-xxxl"> XXXL </label>
                        <input type="number" name="Stock" class="form-control" id="Stock" value="<%#=locals.old && old.stock ?old.nombre: null %><%#=producto.stock%>" placeholder="Stock">
                        <%# if (locals.errors && errors.stock) { %>
                        <small><%#= errors.stock.msg %> </small>
                    <%# } %>
                    </div>
                </div> -->
    <!--DESCRIPCION DE PRODUCTO-->
                <div class="form-floating">
                    <input type="text" class="form-control" id="description" placeholder="Descripción" name="Descripcion" value="<%= producto.descripcion %> ">
                    <label for="floatingTextarea">Descripcion</label>
                    <% if (locals.errors && errors.descripcion) { %>
                        <small><%= errors.descripcion.msg %> </small>
                    <% } %>
                </div>
<!--SUBIDA DE IMAGENES-->
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Subir imagenes del producto</label>
                    <input class="form-control" type="file" name="imagen" id="formFileMultiple" accept="image/jpg,jpeg,png,jfif,gif,webp" value="<%= locals.old && old.imagen ? old.nombre: null %>" >
                    <% if (locals.errors && errors.imagen) { %>
                        <small><%= errors.imagen.msg %> </small>
                    <% } %>
                </div>
                
                <div class="button d-flex justify-content-center">
                    <button class="btn" type="submit">Editar Producto</button>
                </div>
                
            </section>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>