<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head',{title: 'Editar'}) %>
<body class="crear-editar">
  <%- include('../partials/header') %>
    <main>
        <h1>Editar Producto</h1>        
        <form action="/admin/editar/<%= producto.id %>?_method=PUT" method="POST">
            <section class="agregar">
                <div class="form-floating">
                    <input type="text" name="Titulo" class="form-control" id="Titulo" placeholder="Titulo" value="<%= producto.titulo %> ">
                    <label for="Titulo">Titulo</label>
                    <small>Obligatorio</small>
                </div>
                <div class="form-floating">
                    <select class="form-select" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria %>" <%= producto.categoria.toLowerCase() === categoria.toLowerCase() ? 'selected' : null %> ><%= categoria %></option>
                          <% }) %>
                        
                            <option value="Cotillon">Cotillon</option>
                            <option value="Coleccionables">Coleccionables</option>
                            <option value="Ind-Hombre">Ind-Hombre</option>
                            <option value="Ind-Mujer">Ind-Mujer</option>
                            <option value="Ind-Infantil">Ind-Infantil</option>
        
                    </select>
                    
                    <label for="floatingSelect">Producto</label>
                    <small>Obligatorio</small>
                  </div>
                <div class="form-floating">
                    <input type="number" name="Precio" class="form-control" id="Precio" placeholder="Precio" value="<%=producto.precio%>">
                    <label for="Precio">Precio</label>
                    <small>Obligatorio</small>
                </div>
                <div class="form-floating">
                    <input type="number" name="Descuento" class="form-control" id="Descuento" placeholder="Descuento" value="<%=producto.descuento%>">
                    <label for="Descuento">Descuento</label>
                    <small>De no aplicar descuento inserte 0 (Cero)</small>
                </div>
                <div class="form-floating">
                    <input type="number" name="Stock" class="form-control" id="Stock" placeholder="Stock" value="<%=producto.stock%>">
                    <label for="Stock" value="1">Stock</label>
                    <small>Obligatorio</small>
                </div>
                <div class="form-floating">
                    <textarea name="descripcion" id="description" cols="300" rows="300" class="form-control" placeholder="Leave a comment here" style="resize: none;"><%= producto.descripcion %></textarea>
                                    
                    <label for="floatingTextarea">Descripcion</label>
                    <small>Obligatorio</small>
                </div>

                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Subir imagenes del producto</label>
                    <input class="form-control" type="file" name="imagen" id="formFileMultiple" accept="image/png, .PNG">
                    <small>Obligatorio</small>
                </div>
                
                <div class="button d-flex justify-content-center">
                    <button class="btn" type="submit">Editar Producto</button>
                </div>
                
            </section>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>