<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head',{title:'ADMIN | Lista de Productos'}) %>
<body class="listar">
  <%- include('../partials/header') %>
  <main>
    <h1>Administracion</h1>
    <div class="btncrear">
      <a href="/admin/crear">
          <button type="button" class="btn crear">Crear Producto</button>
      </a>
    </div>
    <a href="/admin<%= redirection %>">
      <button type="button" class="btn btn-warning"><%= redirection==="historial"?"HistorialProductos":"Listar" %> </button>
    </a>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Nombre</th>
            <th scope="col">Producto</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Des</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="/admin/crear" target="_self"><%= productos.id %></a></th>
            <td><a href="/admin/crear/<%= productos.id %>"> <%= productos.marca %></a></td>
            <td><a href="/admin/crear/<%= productos.id %>"> <%= productos.titulo %></a></td>
            <td><a href="/admin/crear/<%= productos.id %>"> <%= productos.stock %></a></td>
            <td><a href="/admin/crear/<%= productos.id %>"> <%= productos.precio %></a></td>
            <td><a href="/admin/crear/<%= productos.id %>"> <%= productos.descuento %></a></td>
            <td>
              <div>
                <a href="/admin/crear"><button type="button" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></button></a>
                <a href=""><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></a>
              </div>
            </td>
          </tr>
        </tbody>        
      </table>
    </div>
</main>
<%- include('../partials/footer') %>
</body>
</html>