<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: 'Busqueda'}) %>

  <body class="busqueda">
    <%- include('./partials/header') %>
    <main>
      <% if (resultados.length != 0) { %>
      <h1>Resultado de la busqueda: <%= busqueda %></h1>
      <section class="resultados">
        <% resultados.forEach(producto => { %>
            <%- include('./partials/cards',{
              id:producto.id,
              imagen:producto.imagen,
              titulo:producto.titulo,
              descuento:producto.descuento,
              precio:producto.precio 
            }) %> 
        <% }) %>
      </section>
      <% }else { %>
      <h3>No se encontraron productos relacionados: <%= busqueda %></h3>
      <section class="resultados">
        <div class="res-error">
            <img src="/images/productos/searchNotFound.gif" alt="producto no encontrado" />
        </div>
      </section>
      <h4>UHHH! No se encontraron productos</h4>
      <% } %>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
