<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'Cotillon'}) %>
<body class="cotillon">
  <%- include('./partials/header') %>
    <main>
      <h1>COTILLON</h1>
      <section class="nuevos">
        <% cotillon.forEach(producto => { %>
        <article class="ofertas">
          <a href="/productos/detalles/<%= producto.id %>">
            <div class="imgBox">
              <img src="/images/productos/<%= producto.imagen %>" alt="<%= producto.titulo %>" class="itemOferta">
            </div>
            <div class="DatosBox">
              <h4><%= producto.titulo.slice(0,50) %></h4>
              <% if (producto.descuento !== 0) { %>
              <div class="descard">
                <small >$<%= producto.precio %></small>
                <h4><%= producto.descuento %>%</h4>
              </div>
              <% } %>
              <h2 class="price">$<%= producto.precio - (producto.precio * producto.descuento / 100)%><small>,00</small></h2>
              <a href="/productos/carrito" class="comprar">Comprar</a>
            </div>
            </a>
        </article>
        <% }) %>
      </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>