<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title:'Perfil de usuario'}) %>
  <body class="usuario">
      <%- include('./partials/header') %>
    <main>
      <form action="/usuario/editarUsuario/<%= usuario.id %>?_method=PUT" method="post" enctype="multipart/form-data"> <!--ENCTYPE FUNDAMENTAL PARA SUBIR IMG CON MULTER-->
        <div class="button d-flex justify-content-center">
          <button class="btn btn-success" type="submit">Aceptar cambios</button>
      </div>
        <div class="foto">
          <img src="/images/usuario/<%= usuario.image %>" alt="">
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Cambiar imagen de perfil</label>
            <input class="form-control" type="file" name="imagen" id="formFileMultiple" value="<%= locals.old && old.image ? old.nombre: null %>" >
        </div>
        <h3><%= usuario.nombre %> <%= usuario.Apellidos %></h3>
        
        </div>
        <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Datos personales
            </button>
          </h2>
          
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <li><span>Editar Nombres</span>
                  <input type="text" name="Nombres" class="form-control" id="Nombres" value="<%=locals.old && old.nombre ? old.nombre: null %><%= usuario.nombre %>" placeholder="Nombres">
           </li>
                <li><span>Editar Apellidos</span>
                  <input type="text" name="Apellidos" class="form-control" id="Apellidos" value="<%=locals.old && old.Apellidos ? usuario.Apellidos : null %><%= usuario.Apellidos %>" placeholder="Apellidos">
                </li>
                
                <li>
                  <span>DNI</span>
                  <input class="form-control" type="number" name="dni" id="dni" value="<%= locals.old && old.dni ? old.dni: null %><%= usuario.dni %>" placeholder="Ingrese su DNI" >
                </li>
                <li><span>Teléfono</span><input class="form-control" type="number" name="telefono" id="telefono" value="<%= locals.old && old.telefono ? old.telefono: null %><%= usuario.telefono %>" placeholder="Ingrese su Teléfono" ></li>
              </ul></div>
            </div>
          </div>
          
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Medio de pago
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <span>Agregar medio de pago</span>
                      <div>
                        <input class="form-control" type="text" name="pago" id="pago" value="<%= locals.old && old.pago ? old.pago: null %>" placeholder="Ingrese medio de pago" >                   
                    </div>
                    </ul></div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Datos de envío
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
              <ul>
                <li><span>Dirección</span><input class="form-control" type="text" name="direccion" id="direccion" value="<%= locals.old && old.direccion ? old.direccion: null %>" placeholder="Ingrese su dirección" ></li>
                <li>
                  <span>Provincia</span><input class="form-control" type="text" name="provincia" id="provincia" value="<%= locals.old && old.provincia ? old.provincia: null %>" placeholder="Ingrese su provincia" >
                </li>
                <li><span>Localidad</span> <input class="form-control" type="text" name="localidad" id="localidad" value="<%= locals.old && old.localidad ? old.localidad: null %>" placeholder="Ingrese su localidad" ></li>
                <li><span>Código postal</span> <input class="form-control" type="text" name="codPost" id="codPost" value="<%= locals.old && old.codPost ? old.codPost: null %>" placeholder="Ingrese su código postal" ></li>
              </ul></div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Mis compras
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <a href="/productos/carrito"><h3>Carrito</h3></a> </div>
              </div>
            </div>

          </form>

        </main>
        
        <%- include('./partials/footer') %>
      </body>
      </html>
      