<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'Login'}) %>
<body class="login">
  <%- include('./partials/header') %>
    <main>
        <section class="form-reglog">
            <h1>Iniciar sesión</h1>
            <form action="/usuario/login" method="post" id="form">
                <div>
                    <input class="ingreso" type="email" name="email" id="email" value="<%=
                        (typeof locals.old != 'undefined' && old.email )? old.email : "" %>" placeholder="Ingrese su email electr&oacute;nico">
                    
                    <small id="emailContainer"><%= locals.errors && errors.email ? errors.email.msg : null %> </small>
                </div>
                <div>
                    <input class="ingreso" type="password" name="pass" id="pass" placeholder="Ingrese su contraseña">
                    
                    <small id="passContainer"><%= locals.errors && errors.pass ? errors.pass.msg : null %> </small>
                    
                </div>
                <div class="recForm">
                    <label><input type="checkbox" name="check">&nbsp;Recordarme</label>
                    <label><a href="/">Olvidé mi contraseña</a></label>
                </div>
                <div> 
                    <button type="submit"class="boton">Iniciar sesión</button>
                </div>
                <div class="linea"></div>
                <p>¿No tenes cuenta?<a href="/usuario/register"> Registrarme</a></p>
            </form>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <script src="/javascript/loginVal.js"></script>
</body>
</html>