<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'Registro'}) %>
<body class="register">
  <%- include('./partials/header') %>
    <main>
        <section class="form-reglog">
            <h1>Crear cuenta</h1>
            <p class="textcrear">Complete este formulario para poder crear una cuenta.</p>
            <form  action="" method="post" enctype="multipart/form-data" id="formulario"><!--ENCTYPE FUNDAMENTAL PARA SUBIR IMG CON MULTER-->

                <div>
                    <input class="ingreso" type="text" name="Nombres" id="Nombres" value="<%= locals.old && old.Nombres ? old.Nombres: null %>" placeholder="Ingrese su nombre" >
                    <small id="nombresContainer"><%= locals.errors && errors.Nombres ? errors.Nombres.msg : null %> </small>                  
                </div>
                <div>
                    <input class="ingreso" type="text" name="Apellidos" id="Apellidos" value="<%= locals.old && old.Apellidos ? old.Apellidos: null %>" placeholder="Ingrese su apellido" >
                    <small id="apellidosContainer"><%= locals.errors && errors.Apellidos ? errors.Apellidos.msg : null %> </small>
                </div>
                <div>
                    <input class="ingreso" type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email: null %>" placeholder="Ingrese su email electr&oacute;nico" >
                    <small id="emailContainer"><%= locals.errors && errors.email ? errors.email.msg : null %> </small>
                </div>
                <div>
                    <input class="ingreso" type="password" name="pass" id="pass" value="<%= locals.old && old.pass ? old.pass: null %>" placeholder="Ingrese su contraseña" >
                    <small id="passContainer"><%= locals.errors && errors.pass ? errors.pass.msg : null %> </small>
                </div>
                <div>
                    <input class="ingreso" type="password" name="pass2" id="pass2" value="<%= locals.old && old.pass2 ? old.pass2: null %>" placeholder="Confirme su contraseña" >
                    <small id="pass2Container"><%= locals.errors && errors.pass2 ? errors.pass2.msg : null %> </small>
                </div>
                <div class="mb-3">
                    <label for="usuario-img"  class="form-label">Subir imágen</label>
                    <input class="form-control" type="file" name="imagen" id="usuario-img" value="<%= locals.old && old.imagen ? old.nombre: null %>" >
                    <small id="imagenContainer"><%= locals.errors && errors.imagen ? errors.imagen.msg : null %> </small>
               <!-- Imagen 1 -->

               <div class="col col-5">
                <label class="selectImg" for="usuario-img">
                    <img id="img-preview" class="img-fluid img-thumbnail imagen-height rounded"  src="/images/usuario/login.png" alt="">
                </label>   
            </div> 
                </div>

                <div class="aceptoTerm">
                    <label><input type="checkbox" name="Terminos" id="terminos">&nbsp;Acepto los&nbsp;<a href="">Términos y Condiciones.</a></label>
                    <small id="terminosContainer"><%= locals.errors && errors.Terminos ? errors.Terminos.msg : null %> </small> 
                </div>
                <div> 
                    <small class="error-msg" id="errorSubmit"></small>
                    <button type="submit"class="boton">Registrarme</button>
                </div>
                <div class="linea"></div>
                <p>¿Ya tienes cuenta?<a href="/usuario/login"> Iniciar sesión</a></p>
            </form>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <script src="/javascript/userImagen.js"></script>
    <script src="/javascript/register.js"></script>
</body>
</html>
